body {
    font-family: 'Arimo', sans-serif;
font-optical-sizing: auto;
  font-weight: 500;
    font-size: 1.05em;
}

table {
    font-family: 'Arimo', sans-serif;
font-optical-sizing: auto;
  font-weight: 500;
    font-size: 1em;
}

table.main {
    font-family: 'Arimo', sans-serif;
font-optical-sizing: auto;
  font-weight: 500;
    font-size: 1em;
   width: 650px;
   border: 0;
    border-collapse: collapse;
 margin-left: auto;
  margin-right: auto;
}

table.main td, table.main th {
  padding: 3px; /* Adjust value as needed */
}


.larger-word {
  font-size: 130%;
}
